* {
  box-sizing: border-box;
}

.alert {
  background-color: #f8f9fa;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.5;
}

.navbar .navbar-nav .nav-link {
  color: #343a40;
  text-transform: uppercase;
}